<div style="text-align:center;">
    <h2>Admin page</h2>
    <form action="/admin/addproblem" method="post" id="adminaddproblem">
        <h5>Name</h5>
        <textarea name="name" rows="1"></textarea>
        <h5>Code</h5>
        <textarea name="code" rows="1"></textarea>
        <h5>Difficulty</h5>
        <textarea name="difficulty" rows="1"></textarea>
        <h5>Statement</h5>
        <textarea name="statement" rows="4" cols="50"></textarea>
        <h5>Input Format</h5>
        <textarea name="inputformat" rows="4" cols="50"></textarea>
        <h5>Constraints</h5>
        <textarea name="constraints" rows="3" cols="50"></textarea>
        <h5>Output Format</h5>
        <textarea name="outputformat" rows="4" cols="50"></textarea>
        <h5>Time limit</h5>
        <textarea name="timelimit" rows="1"></textarea>
        <h5>Multiple Parts</h5>
        <textarea name="multipleparts" rows="1"></textarea>
        <h5>Number of Test cases</h5>
        <textarea name="testcasecount" rows="1"></textarea>
        <h5>Number of Samples</h5>
        <textarea name="samplecount" rows="1"></textarea>
        
        
        <h5>Input0</h5>
        <textarea name="input0" rows="3" cols="50"></textarea>
        <h5>Output0</h5>
        <textarea name="output0" rows="3" cols="50"></textarea>
        <h5>Input1</h5>
        <textarea name="input1" rows="3" cols="50"></textarea>
        <h5>Output1</h5>
        <textarea name="output1" rows="3" cols="50"></textarea>
        <h5>Input2</h5>
        <textarea name="input2" rows="3" cols="50"></textarea>
        <h5>Output2</h5>
        <textarea name="output2" rows="3" cols="50"></textarea>
        <h5>Input3</h5>
        <textarea name="input3" rows="3" cols="50"></textarea>
        <h5>Output3</h5>
        <textarea name="output3" rows="3" cols="50"></textarea>
        <h5>Input4</h5>
        <textarea name="input4" rows="3" cols="50"></textarea>
        <h5>Output4</h5>
        <textarea name="output4" rows="3" cols="50"></textarea>
        <h5>Input5</h5>
        <textarea name="input5" rows="3" cols="50"></textarea>
        <h5>Output5</h5>
        <textarea name="output5" rows="3" cols="50"></textarea>
        <h5>Input6</h5>
        <textarea name="input6" rows="3" cols="50"></textarea>
        <h5>Output6</h5>
        <textarea name="output6" rows="3" cols="50"></textarea>
        <h5>Input7</h5>
        <textarea name="input7" rows="3" cols="50"></textarea>
        <h5>Output7</h5>
        <textarea name="output7" rows="3" cols="50"></textarea>
        <h5>Input8</h5>
        <textarea name="input8" rows="3" cols="50"></textarea>
        <h5>Output8</h5>
        <textarea name="output8" rows="3" cols="50"></textarea>
        <h5>Input9</h5>
        <textarea name="input9" rows="3" cols="50"></textarea>
        <h5>Output9</h5>
        <textarea name="output9" rows="3" cols="50"></textarea>
        
        <h5>Section</h5>
        <textarea name="section" rows="2" cols="40"></textarea>
        <h5>Tags</h5>
        <textarea name="tags" rows="2" cols="40"></textarea>
        <button type="submit" name="submit">Submit</button>
    </form>
</div>