<div style="text-align:center;">
    <h2>Admin page</h2>
    <form action="/admin" method="post" id="admin">
        <button type="submit" name="submit" value="addproblem">Add Problem</button>
        <textarea name="problemname" rows="1"></textarea>
        <button type="submit" name="submit" value="editproblem">Edit Problem</button>
        <textarea name="problemname" rows="1"></textarea>
        <button type="submit" name="submit" value="deleteproblem">Delete Problem</button>
        <br><br>
        <button type="submit" name="submit" value="addtutorial">Add Tutorial</button>
        <textarea name="tutorialname" rows="1"></textarea>
        <button type="submit" name="submit" value="edittutorial">Edit Tutorial</button>
        <textarea name="tutorialname" rows="1"></textarea>
        <button type="submit" name="submit" value="deletetutorial">Delete Tutorial</button>
    </form>
    <br>
    <a href="/home">Home</a>
</div>