<h2>Admin page</h2>
<form action="/adminaddtutorial" method="post" id="adminaddtutorial">
    <h5>Name</h5>
    <textarea  name="name" rows="1"></textarea>
    <h5>Code</h5>
    <textarea  name="code" rows="1"></textarea>
    <h5>Statement</h5>
    <textarea  name="statement" rows="15" cols="150"></textarea>
    <h5>Tags</h5>
    <textarea  name="tags" rows="1" cols="10"></textarea>
    <button type="submit" name="submit">Submit</button>
</form>