*{
  margin :0;
  padding: 0;
  overflow: hidden;
}
.page{
  height: 100%;
  width: 100%;
  background-color: #AED6F1 ;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box{
  width: 400px;
  height: 560px;
  position: relative;
  margin: 3% auto;
  background: #fff ;
  padding: 5px;
}
.page{
  background-image: url('images/sky.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
  background-size: cover;
}
.button-box{
  width: 240px;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 22px 10px #87ceeb;
  border-radius: 30px;
}
.toggle-btn{
  padding: 0px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn{
  top : 0;
  left: 0;
  position: absolute;
  width: 230px;
  height: 100%;
  background: linear-gradient(to right,ff105f,#ffad06);
  border-radius: 30px;

}
