* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

alignment {
    padding: 70px;
    border: 1px solid #000;
}

#banner {
    display: block;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

#contact {
    padding: 50px 0 30 px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    width: 100%;
}

.fa-facebook {
    color: rgb(59, 91, 152);
    font-size: 60px;
    padding-right: 10px;
}

.fa-twitter {
    font-size: 60px;
    padding-right: 10px;
}

.fa-linkedin {
    color: #23169c;
    font-size: 60px;
    padding-right: 10px;
}

.fa-github {
    color: black;
    font-size: 60px;
    padding-right: 10px;
}

#footer {
    background-color: #1a53ff;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    padding: .6rem;
}

.navbar-nav li {
    color: #0328fc;
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.skills {
    padding-top: 2%;
    padding-left: 10%;
    color: #0328fc
}

.space {
    padding: 1%;
    margin-left: 100px;
    .display: none;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

.vl {
    border-left: 1px solid #fff;
    margin-top: 10px;
    height: 25px;
}