
.badge-notification{
    padding: 3px 5px 2px;
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.badge-danger {
    background-color: #db5565;
}
.btn-border {
    border-radius: 0px;
}


.card-design {
    border-left: 10px solid green;
    outline: none;
    box-shadow: none;
}

.card-item-sidebar {
    border: 0px;
}

.card-sidebar {
    border: 0px;
}

.card-title-header {
    background-color: transparent;
    border-bottom: 4px blue solid;
}


.center-block {
    display: table;
    margin: auto;
    border: 0px;
}
.card-header-tutorial{
    background-color: transparent;
    border-bottom: 4px blue solid;
}

.card-tutorial-sidebar {
    border: 0px;
}

.card-body-tutorial-sidebar {
    border: 1px solid black;
}



#footer
{
  background-color: #1a53ff;
}
.footer-div {
    border-top: 2px solid black;
}


.pagination {
    border: 0px solid #ddd;
    border-bottom: 2px solid blue;
}
.pagination > li > a {
    border: 0px solid #ddd;
    border-radius: 0px!important;
}


#userdropdown {
    background-color: transparent;
    color: black;
    border: 0px;
    outline: transparent;
}

#userdropdown:active {
    border: 0px;
    outline: none;
    box-shadow: none;
}
.vl {
  border-left: 1px solid #fff;
  margin-top: 10px;
  height: 25px;
}
