body {}

.wrapper {
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.table-light td {
    vertical-align: middle;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    padding: .6rem;
}

.navbar-nav li {
    color: #0328fc;
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}
