
body {

  overflow-x:  hidden; /* Hide scrollbars */

  font-size: 16px;
  font-family: 'Open Sans',sans-serif;
  margin: 0;

  word-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-font-smoothing: antialiased;

}

#userdropdown {
    background-color: transparent;
    color: black;
    border: 0px;
    outline: transparent;
}

#userdropdown:active {
    border: 0px;
    outline: none;
    box-shadow: none;
}
.vl {
  border-left: 1px solid #fff;
  margin-top: 10px;
  height: 25px;
}
