<h2>Admin page</h2>
<form action="/admin" method="post" id="adminproblem">
    <h5>Name</h5>
    <textarea  name="name" rows="1"></textarea>
    <h5>Code</h5>
    <textarea  name="code" rows="1"></textarea>
    <h5>Difficulty</h5>
    <textarea  name="difficulty" rows="1"></textarea>
    <h5>Statement</h5>
    <textarea  name="statement" rows="4" cols="50"></textarea>
    <h5>Constraints</h5>
    <textarea  name="constraints" rows="3" cols="50"></textarea>
    <h5>Time limit</h5>
    <textarea  name="timelimit" rows="1"></textarea>
    <h5>Sample Input</h5>
    <textarea  name="sampleinput" rows="4" cols="50"></textarea>
    <h5>Sample Output</h5>
    <textarea  name="sampleoutput" rows="4" cols="50"></textarea>
    <h5>Hidden Input</h5>
    <textarea  name="hiddeninput" rows="4" cols="50"></textarea>
    <h5>Hidden Output</h5>
    <textarea  name="hiddenoutput" rows="4" cols="50"></textarea>
    <button type="submit" name="submit">Submit</button>
</form>