<h1> Submit page</h1>
<form action="/dsubmit" method="post" id="dsubmitcode" class="text-left mt-5 text-white">
<div class="input-group mb-4 text-black">
    <input class="form-control text-black" name="submittedcode" type="text" placeholder="Write your code here" required>
</div>
<div class="form-group">
    <button type="submit" name="submit" class="btn btn-block btn-primary btn-signin">Submit</button>
</div>
</form>