<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/enter.css">
</head>

<body>
  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-6 d-none d-xl-block mx-auto padding-0  vertical-center hi">
            <img src="/images/entergif.gif" height="550">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mx-auto vertical-center">
            <div class="container w-100 p-4">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="text-center mb-5">
                    <img src="/images/logo.png">
                    <hr class="colored">
                  </div>
                  <ul class="nav nav-pills nav-justified justify-content-center mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item tt"> <a class="nav-link active" id="pills-signin-tab" data-toggle="pill" href="#pills-signin" role="tab" aria-controls="pills-signin" aria-selected="true">Sign In</a> </li>
                      <li class="nav-item tt"> <a class="nav-link" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="false">Sign Up</a> </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-signin" role="tabpanel" aria-labelledby="pills-signin-tab">
                        <div class="col-sm-12">
                          
                          <form action="/login" method="post" id="signinform" class="text-left mt-5 text-white">
                            <div class="input-group mb-4 text-white">
                              <span class="input-group-addon"></span>
                              <input class="form-control text-white" name="username" type="text" placeholder="Username" required>
                            </div>

                            <div class="input-group mb-4">
                              <span class="input-group-addon"></i></span>
                              <input class="form-control text-white" name="password" type="password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                              <button type="submit" name="submit" class="btn btn-block btn-primary btn-signin">Sign In</button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
                        <div class="col-sm-12 pt-2">

                          <form action="/register" method="post" id="signupform" class="text-left">
                            <div class="input-group mb-4 text-white">
                              <span class="input-group-addon"></span>
                              <input class="form-control text-white" name="signupemail" type="email" value="{{email}}" placeholder="Email address" required>
                            </div>
                            <div class="input-group mb-4 text-white">
                              <span class="input-group-addon"></span>
                              <input type="text" name="signupusername" name="signupname" id="signupusername" class="form-control text-white" value="{{username}}" placeholder="Enter your username" required>
                            </div>

                            <div class="input-group mb-4">
                              <span class="input-group-addon"></span>
                              <input class="form-control text-white" name="signuppass" type="password" placeholder="Password" required>
                            </div>
                            <div class="input-group mb-4">
                              <span class="input-group-addon"></span>
                              <input class="form-control text-white" name="signuppass2" type="password" placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group">
                              <button type="submit" name="signupsubmit" class="btn btn-block btn-primary btn-signin">Sign Up</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
