<!-- Navigation -->
	<section id="nav-bar">
		<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
			<div class="container-fluid">
				<a href="/home" class="navbar-brand"><img src="images/logo.png" style="width:80%; height:70%"></a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=#navbarResponsive>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id=navbarResponsive>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a href="enter" class="nav-link">Login</a>
						</li>
						<li class="nav-item">
							<a href="enter" class="nav-link">Registration</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--carousel -->
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
			style="margin-top: 20px; margin-left:50px;margin-right:50px">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

			</ol>
			<div class="allignment">
				<div class="carousel-inner">
					<div class="carousel-item  active">

						<img class="center-block" src="images/home-carousel_1.jpg" style="height:600px"
							alt="First slide">


						<div class="carousel-caption ">
							<button type="button" class="btn btn-primary btn-lg"> Join Now </button>
						</div>
					</div>
					<div class="carousel-item vertical-center">
						<img class="center-block" src="images/home-carousel_2.png" style="height:600px"
							alt="Second slide">
					</div>

				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
					style="margin-bottom:10%">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
					style="margin-bottom:10%">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<!--- Jumbotron --->

	<!-- collection of skills -->

		<section id="collection">
			<div class="container mt-5">
				<div class="container">
					<h3>
						<p class="skills">Skills available for practice : </p>
					</h3>
					<hr style="border-top: 3px solid #cce6ff">
					<div class="row mt-4 mb-3">
						<div class="col-md-1 col-lg-1 col-sm-1"></div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="card">
								<div class="card-body text-center">
									<p><img class="card-img-top" src="images/c.jpg" alt="card image" width="340"
											height="150"></p>
									<a href="/section/c" class="btn btn-primary btn-md btn-block">C</a>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="card">
								<div class="card-body text-center">
									<p><img class="card-img-top" src="images/cpp.jpg" alt="card image" width="340"
											height="150"></p>
									<a href="/section/cpp" class="btn btn-primary btn-block">C++</a>
								</div>
							</div>
						</div>
						<div class="col-md-1 col-lg-1 col-sm-1"></div>
					</div>
					<div class="row mt-4 mb-3">
						<div class="col-md-1 col-lg-1 col-sm-1"></div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="card">
								<div class="card-body text-center">
									<p><img class="card-img-top" src="images/java.png" alt="card image" width="340"
											height="150"></p>

									<a href="/section/java" class="btn btn-primary btn-md btn-block">Java</a>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="card">
								<div class="card-body text-center">
									<p><img class="card-img-top" src="images/python.jpg" alt="card image" width="340"
											height="150"></p>
									<a href="/section/py" class="btn btn-primary btn-block">Python</a>
								</div>
							</div>
						</div>
						<div class="col-md-1 col-lg-1 col-sm-1"></div>
					</div>

					<div class="row mt-4 mb-3">
						<div class="col-md-1 col-lg-1 col-sm-1"></div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="card">
								<div class="card-body text-center">
									<p><img class="card-img-top" src="images/data_structures.jpg" alt="card image"
											width="340" height="150"></p>
									<a href="/section/ds" class="btn btn-primary btn-md btn-block">Data Structures</a>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="card">
								<div class="card-body text-center">
									<p><img class="card-img-top" src="images/algorithm.jpg" alt="card image" width="340"
											height="150"></p>
									<a href="/section/algo" class="btn btn-primary btn-block">Algorithm</a>
								</div>
							</div>
						</div>
						<div class="col-md-1 col-lg-1 col-sm-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- contact -->
		<section id="contact">
			<footer>
				<div class="mt-5 footer-div">
					<div class="container mt-3">
						<div class="container">
							<img src="images/logo.png" class="center" style="display: block; height:100px; width:260px">
							<div class="row">
								<div class="col-md-6 col-lg-6 col-sm-6  text-center my-auto">
									<h3 style="margin-top:5%">Let's Code, shall we?</h3>
									<ul class="list-unstyled list-inline social">
										<li class="list-inline-item"> <a href="#"><i class="fab  fa-facebook "></i></a>
										</li>
										<li class="list-inline-item "> <a href="#"><i class="fab  fa-twitter "></i></a>
										</li>
										<li class="list-inline-item "><a href="#"><i class="fab fa-linkedin "></i></a>
										</li>
										<li class="list-inline-item "><a href="#"><i class="fab fa-github "></i></a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 col-lg-6 col-sm-6 text-center my-auto">
									<h3>Have a question or feedback?</h3>
									<a href="/contactus" class="btn-primary btn-sm" style="margin-bottom:10px">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<section id="footer">
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h5><a style="color : #fff ; margin-left:10px"> &copy;2020 codebie</a></h5>
				</div>
				<div class="p-2"><a style="color : #fff" href="#">Privacy Policy</a></div>
				<div class="vl"></div>
				<div class="p-2" style="margin-right:10px"><a style="color : #fff" href="/aboutus">About Us</a></div>
			</div>
		</section>
	</section>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>