.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.table-light td {
    vertical-align: middle;
}