    .colored {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 7px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        /*background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
        background-image: linear-gradient(to right, #5B86E5, #36D1DC);
        padding-right: 50%;
        background-origin: content-box;
        background-size: 200%;
        animation-name: colored;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(8);
    }
    /*
.colored {


height: 10px;
border-top: 0;
background: #c4e17f;
border-radius: 5px;
width: 900px;
background-image: linear-gradient(to right,#5B86E5,#36D1DC);

background-origin: content-box;
background-size: 200%;

animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: steps(8);
}*/
    
    body {
        background-image: url('/images/blue.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    
    .content {
        max-width: 900px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        background: white;
        padding: 30px;
        padding-bottom: 40px;
        box-shadow: 8px 8px #7CC3F3;
    }
    
    textarea {
        background: url(http://i.imgur.com/2cOaJ.png);
        min-width: 840px;
        min-height: 550px;
        background-attachment: local;
        background-repeat: no-repeat;
        padding-left: 35px;
        padding-top: 10px;
        border-color: #ccc;
        font-size: 13px;
        line-height: 16px;
    }
    
    .textarea-wrapper {
        display: inline-block;
        background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
        background-size: 100% 32px;
        background-position: left 10px;
    }
    
    .center {
        margin: 0;
        position: absolute;
        left: 52%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .container {
        width: 90%;
        margin: auto;
        overflow: hidden;
        margin-top: 20px;
    }
    
    .container ul {
        padding: 0px;
        margin: 0px;
    }
    
    .container ul li {
        float: left;
        list-style: none;
        width: 5%;
        margin: 20px 0px 20px 55px;
        box-sizing: border-box;
    }
    
    .container ul li:hover {
        opacity: 0.8;
    }
    
    @media screen and (max-width:1250px) {
        .container ul li {
            width: 40%;
            margin-left: 40px;
        }
    }
    
    #nav-bar {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    
    .navbar {
        padding: .6rem;
    }
    
    .navbar-nav li {
        color: #0328fc;
        padding-right: 20px;
    }
    
    .nav-link {
        font-size: 1.1em !important;
    }
    
    .navbar-nav li a {
        font-weight: 600;
        float: right;
        text-align: left;
    }
    
    .padding-0 {
        padding-right: 0;
        padding-left: 0;
    }

    table, th, td {
        border: 1px solid black;
      }
      
      th, td {
        padding: 10px;
        text-align:center
      }